@{
    //authentication ALWAYS FIRST
    if (!Security.IsAuthenticated())
    {
        Response.Redirect("Login");
    }

    int user_id = Convert.ToInt32(Session["user_id"]);

    var db = Database.Open("test");
    string selectWishlist = "SELECT * FROM wishlists where user_id = @0";
    string selectClaims = "SELECT * FROM items where user_id_claim = @0";

    if (!Request.Form["cancel_claim"].IsEmpty())
    {
        string item_id = Request.Form["cancel_claim"];
        string delete_claim = "UPDATE items SET user_id_claim=null, visible=1 WHERE item_id=@0";
        db.Execute(delete_claim, item_id);
    }

    Page.title = "Huwelijks wenslijsten";
    Layout = "_Layout.cshtml";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Voer hier de unieke link in</h1>
        <form method="get" action="Wenslijst_visitor">
            <input class="form-control" type="text" id="uniek" name="uniek" placeholder="Unieke code">
            <button type="submit" name="uniek_input" class="btn btn-primary" value="uniek_input">Verstuur</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h1 class="page-header">
            Mijn wenslijsten
        </h1>
    </div>
    <div class="col-lg-6">
        <h1 class="page-header">Gereserveerde cadeaus</h1>
    </div>
</div>
<!-- /.row -->

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-6">
        <div class="table-responsive">
            <table class="table-bordered">
                <tr>
                    <th>Naam</th>
                    <th></th>
                </tr>
                @foreach (var wishlist in db.Query(selectWishlist, user_id)){
                <tr>
                    <td>@wishlist.name</td> 
                    <td><a href="Wishlist_view?wishlist_id=@wishlist.wishlist_id" class="btn btn-primary" role="button">Openen</a></td>
                </tr>
                }
            </table>
        </div>
    </div>

    <form method="post" id="Cancel_form"></form>

    <div class="col-lg-6">
        <div class="table-responsive">
            <table class="table-bordered">
                <tr>
                    <th>Naam</th>
                    <th>Beschrijving</th>
                    <th>Linkje</th>
                </tr>
                @foreach (var item in db.Query(selectClaims, user_id)){
                <tr>
                    <td>@item.name</td> 
                    <td>@item.description</td> 
                    <td>@item.buy_url</td>
                    <td><button type="submit" name="cancel_claim" class="btn btn-primary" form="Cancel_form" value="@item.item_id">Annuleren</button></td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
<!-- /.row -->

<a href="Wishlist_create" class="btn btn-success" role="button">Wenslijst maken</a>